{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static "css/forms.css" %}">
{% endblock css %}

{% block content %}

<section id="login" class="login">
			
<!--div class="login-page" -->
    <div class="container">
        <div class="row">
			<div class="form">
				<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p></br>

				<form method="post">
					{% csrf_token %}
					{{ form.email.errors }}
					<p><label for="id_email">{% trans 'Email address:' %}</label>
					{{ form.email }}</p>
					<button type="submit">{% trans 'Reset my password' %}</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}