{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static "css/forms.css" %}">
{% endblock css %}

{% block content %}

<section id="login" class="login">
			
<!--div class="login-page" -->
    <div class="container">
        <div class="row">
        	<div class="paragraph">
				<h1>Password reset completed</h1>
				<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

				<p><a class="btn btn-success" href="{{ login_url }}">{% trans 'Log in' %}</a></p>
			</div>
		</div>
	</div>
</section>
{% endblock %}