{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock css %}

{% block content %}

<section id="login" class="login">
			
<!--div class="login-page" -->
    <div class="container">
        <div class="row">
        	<div class="paragraph">
				<h1>Password reset sent</h1>
				<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
				<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}