{% extends '../base_player.html' %}

{% block left_column %}
<span><a href="{% url 'player' %}"><i class="fa fa-arrow-circle-left fa-3x" style="float: left; margin-right: 15px;" aria-hidden="true"></i></a></span>

<h2>Upcoming Matches</h2>

<h4>See below for a list of your regular season games. For latest standings and play-off fixtures, please view the relevant schedule page <a href="https://nycoedsoccer.com/#schedules"><b>here</b>.</a></h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>League</th>
            <th colspan="3">Teams</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for match in matches %}
      <tr>
        <td>
            {% if match.league_is_active %}
            <a href="{{ match.league_url }}">{{ match.league_name }}</a>
            {% else %}
            <a href="#">{{ match.league_name }}</a>
            {% endif %}
        </td>
        <td>{{ match.team_a }}</td>
        <td>vs</td>
        <td>{{ match.team_b }}</td>
        <td>{{ match.location }}</td>
        <td>{{ match.date }}</td>
        <td>{{ match.time }}</td>
        <td><a class='btn btn-info' href='{{ match.calendar_link }}' target="_blank">Add to Calendar</a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block right_column %}{% endblock %}