{% extends '../base_player.html' %}

{% block left_column %}
<h2>{{ team.name }} | {{ team.league.name }}</h2>

{% if is_captain %}
{% if paid %}
<div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
	<h4>Invite Members</h4>
	<p>As a team captain, you can send an email to your friend in order to invite other players to join your team. Just copy & paste the following text into an email.</p></br>
	<em>
		{{captain.full_name}} would like to invite you to join the NYCoed Soccer team <b>{{team.name}}</b>.
	</em></br>
	<em>
		Click on the following link in order to register as a player and secure a slot on this roster:</br></br>
		<p><a href="{{invitation}}">{{invitation}}</a></p>
	</em></br>
</div>
{% else %}
<h4>Payment has not yet been made for this team.  Before you can manage your team membership, you must complete payment. <b><a href="{% url 'player_team_pay' team.id %}">Click here</a></b> to complete payment for this team.</h4>
{% endif %}
{% endif %}

<h3>Players</h3>
<table id='table' class="table table-striped tablesorter">
    <thead>
        <tr>
	        <th>Name</th>
	        <th>Email</th>
	        <th>Payment</th>
	        <th>Captain</th>
   		</tr>
   	</thead>
   	<tbody>
    {% for teamplayer in teamplayers %}
	    <tr>
	        <td>{{ teamplayer.player.first_name }} {{ teamplayer.player.last_name }}</td>
	        <td>{{ teamplayer.player.user.email }}</td>
	        <td>
	            {% if teamplayer.has_paid_or_pending %}
	            <span class="paid">{{ teamplayer.pretty_payment_status }}</span>
	            {% else %}
	            <span class="unpaid">{{ teamplayer.pretty_payment_status }}</span>
	            {% endif %}
	        </td>
			{% if teamplayer.is_captain %}
	        <td>Yes</td>
	        {% else %}
	        <td>No</td>
	        {% endif %}
		</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block right_column %}
<h3>Next Rounds</h3></br>
{% if matches %}
<table class="table">
    <thead>
        <tr>
            <th>Match</th>
            <th>Location</th>
            <th>Date/Time</th>            
        </tr>
    </thead>
    <tbody>
    {% for match in matches %}
      <tr>
        <td>{{ match.team }}</td>
        <td>{{ match.location }}</td>
        <td>{{ match.date }} at {{ match.time }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No matches have been scheduled yet!</p>
{% endif %}
{% endblock %}