@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form.registration {
  max-width: 560px;
}

.form input, .form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #d71921;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #b5191e;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a, .form a {
  color: #d71921;
  text-decoration: none;
}

.form.join-league {
    max-width: none;
    margin: auto;  
}

.form.join-league #form-error {
  padding: 10px 20px;
  color: red;
}

.login .paragraph {
  margin: 30px 25%;
}

.login .paragraph h1 {
  margin-bottom: 40px;
}

.login .paragraph p {
  margin: 20px 0;
  font-size: 16px;
}

.waiver-form {
  margin-bottom: 20px;
  text-align: left;
}

input#weiver_confirm {
  width: initial;
  margin: 8px 8px;
  width: initial;
}

