<form action="#" id="contact-form">
    <div class="input-group name-email">
        <div class="input-field">
            <input type="text" name="name" id="name" placeholder="Name" class="form-control">
        </div>
        <div class="input-field">
            <input type="email" name="email" id="email" placeholder="Email" class="form-control">
        </div>
    </div>
    <div class="input-group">
        <textarea name="message" id="message" placeholder="Message" class="form-control"></textarea>
    </div>
    <div class="input-group">
        <input type="submit" id="form-submit" class="pull-right" value="Send message">
    </div>
</form>
