{% extends 'base.html' %}

{% load static %}

{% block content %}
<!--
Home Slider
==================================== -->

{% include "floating-partner.html" %}

<section id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Indicators bullet -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <!-- li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
        </ol>
        <!-- End Indicators bullet -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <!-- single slide -->
            <div class="item active"
                style="background-position-x:50%; background-image: url('{% static 'img/Slide1.jpg' %}');">
                <div class="carousel-caption">
                    <!-- h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated">NY<span>COED</span>SOCCER</h2>
                    <h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span><b>A New York Original Since 2004</b></span></h3> -->

                    <a class="register-button" href="{% url 'login' %}">Register</a>

                    <ul class="social-links text-center">
                        <li><a href="https://twitter.com/NYCOEDSOCCER" target="_blank"><i
                                    class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a href="https://www.facebook.com/NyCoedSoccer" target="_blank"><i
                                    class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a href="mailto:info@nycoedsoccer.com" target="_blank"><i
                                    class="fa fa-envelope  fa-2x"></i></a></li>
                        <li><a href="https://www.instagram.com/NyCoedSoccer" target="_blank"><i
                                    class="fa fa-instagram fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end single slide -->

        </div>
        <!-- End Wrapper for slides -->

    </div>
</section>

<!--
End Home SliderEnd
==================================== -->

<!--
Features
====================================
<section id="features" class="features">
    <div class="container">
        <div class="row">
        
            <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                <h2>Features</h2>
                <div class="devider"><i class="fa fa-soccer-ball-o fa-2x"></i></div>
            </div>

            <div class="col-md-3 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-item">
                    <div class="service-icon">                        
                        <i class="fa fa-legal fa-2x"></i>
                    </div>
                    
                    <div class="service-desc">
                        <h3>Pro Referees</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-shield fa-2x"></i>
                    </div>
                    
                    <div class="service-desc">
                        <h3>NYCS Jerseys per Team</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 wow fadeInUp" data-wow-duration="500ms"  data-wow-delay="900ms">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-bullhorn fa-2x"></i>
                    </div>
                    
                    <div class="service-desc">
                        <h3>Great Venues</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 wow fadeInUp" data-wow-duration="500ms"  data-wow-delay="900ms">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-trophy fa-2x"></i>
                    </div>
                    
                    <div class="service-desc">
                        <h3>Champions Cup</h3>
                        <p>Sice 2009 we held each Summer with this year's event being Saturday, July 15th. The tournament features teams from across all NY Coed divisions as well as from other Leagues in the New York Metropolitan area. </p>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</section>
-->

<!--
End Features
==================================== -->

<!--
NYCS Active Leagues / schedules
==================================== -->
<section id="schedules" class="schedules">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                <div class="mtext">Schedules</div><span class="stext"> in association with </span><a
                    href="https://taprm.com" target="_blank"><img class="taprm"
                        src='{% static "img/taprm-logo.png" %}' /></a>
                <!--h2>Schedules{% comment %} - {{ season.name|default:"Current Season" }}{% endcomment %}</h2-->
                <div class="devider"><i class="fa fa-calendar fa-2x"></i></div>
            </div>

            <div class="grid">
                {% for data in active_leagues %}
                <div class="league-neighborhood">
                    <h3>{{ data.location }}</h3>
                    {% for league in data.leagues %}
                    {% if league.is_league and league.divisions.all %}
                    {% for division in league.divisions.all %}
                    <a href="{{ division.get_absolute_url }}">
                        <div class="legacy-league">
                            <span class='location'>{{ league.season.name }} | {{ league.get_day_of_week }}</span>
                            <div class='name'>{{ league.name }} {{ division.name }}</div>
                        </div>
                    </a>
                    {% endfor %}
                    {% else %}
                    <a href="{{ league.get_absolute_url }}">
                        <div class="legacy-league">
                            <span class='location'>{{ league.season.name }} | {{ league.get_day_of_week }}</span>
                            <div class='name'>{{ league.name }}</div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            {% for nb, leagues in active_leaguesX.items %}
            <!-- league item -->
            <div class="col-md-4">
                <figure class="league-item">
                    <p class='neighborhood'>{{ nb|safe }}</p>
                    <img src="{{ leagues.0.location.image.url }}" alt="">
                    <figcaption class="league-overlay">
                        {% for league in leagues %}
                        <div>
                            <a href="{% url 'league_schedule' league.id %}">{{ league.name }}</a>
                            <span>{{ league.get_day_of_week }}</span>
                        </div>
                        {% endfor %}
                    </figcaption>
                </figure>
            </div>
            <!-- end league item -->
            {% endfor %}
        </div>
    </div>
</section>
<!--
End NYCS Active Leagues
==================================== -->


<!--
NYCS Registrations
==================================== -->
<section id="registration" class="registration">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                <!--h2>Registration Hub - {{ upcoming_season.name|default:"Upcoming Season" }}</h2-->
                <div class="mtext">Registration</div><span class="stext"> in association with </span><a
                    href="https://taprm.com" target="_blank"><img class="taprm"
                        src='{% static "img/taprm-logo.png" %}' /></a>
                <div class="devider"><i class="fa fa-soccer-ball-o fa-2x"></i></div>
            </div>
            <!-- div class="sec-sub-title registration-intro">
                <p>{{ flat_texts.registration|safe }}</p>
            </div -->

            <div class="registration-list">
                {% for nb, leagues in open_registrations.items %}
                <div class="neighborhood-group mb40">
                    <h3 class="neighborhood-title">{{ nb|safe }}</h3>
                    <div class="row">
                        {% for league in leagues %}
                        <div class="col-md-4 col-sm-6 mb20">
                            <div class="league-card">
                                <h5>{{ league.name }}</h5>
                                <p class="league-day">{{ league.get_day_of_week }}</p>
                                <a href="{% url 'player_join_league' league.pk %}" class="btn-register">Join /
                                    Details</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--
End NYCS Registrations
==================================== -->


<!--
Our Venues
====================================
-->

<!-- section id="venues" class="works clearfix">
    ... (omitted for brevity, commented out in file) ...
</section -->

<!--
End Our Works
==================================== -->

<!--
Tournaments
==================================== -->

<section id="tournaments" class="tournaments">
    <div class="parallax-overlay">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
                    <div class="mtext">Tournaments</div><span class="stext"> in association with </span><a
                        href="https://taprm.com" target="_blank"><img class="taprm"
                            src='{% static "img/taprm-logo-yellow.png" %}' /></a>
                    <div class="devider"><i class="fa fa-trophy fa-2x" aria-hidden="true"></i></div>
                </div>

                <div class="sec-sub-title wow animated pulse" data-wow-duration="500ms">
                    <p>{{ flat_texts.tournaments|safe }}</p>
                </div>

            </div>
        </div>
    </div>
</section>

<!--
End Tournaments
==================================== -->


<!--
About Us
==================================== -->

<section id="team" class="team">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
                <h2>About Us</h2>
                <div class="devider"><i class="fa fa-heart fa-2x"></i></div>
            </div>

            <div class="sec-sub-title wow animated" data-wow-duration="500ms">
                <p>{{ flat_texts.about|safe }}</p>
            </div>
        </div>
    </div>
</section>

<!--
End About Us
==================================== -->

<!--
Some fun facts
==================================== -->

<!--
<section id="facts" class="facts">
    <div class="parallax-overlay">
        <div class="container">
            <div class="row number-counters">
                
                <div class="sec-title text-center mb50 wow animated" data-wow-duration="1000ms">
                    <h2 style="color: #fff">Some Fun Facts</h2>
                    <div class="devider"><i class="fa fa-soccer-ball-o fa-2x"></i></div>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="counters-item">
                        <i class="fa fa-clock-o fa-3x"></i>
                        <strong data-to="940">0</strong>
                        <p>Matches Played</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="counters-item">
                        <i class="fa fa-users fa-3x"></i>
                        <strong data-to="25300">0</strong>
                        <p>Registered Players</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item">
                        <i class="fa fa-rocket fa-3x"></i>
                        <strong data-to="5000">0</strong>
                        <p> Registered Teams  </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="counters-item">
                        <i class="fa fa-trophy fa-3x"></i>
                        <strong data-to="9"></strong>
                        <p> Coed Soccer Leagues! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<!--
End Some fun facts
==================================== -->


<!--
Contact Us
==================================== -->

<section id="contact" class="contact">
    <div class="container">
        <div class="row mb50">

            <div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
                <h2>Lets get in touch!</h2>
                <div class="devider"><i class="fa fa-envelope fa-2x"></i></div>
            </div>

            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12 sec-sub-title text-center wow animated"
                data-wow-duration="1000ms" style="margin: 0">
                <h3>We are unable to deal with queries over the telephone. However feel free to contact us and we'll
                    respond within 24 hours, invariably a lot sooner.</h3>
                <h3>If it's a general question regarding Leagues open for registration, please register/sign in to your
                    <a href="{% url 'login' %}">player profile</a>
                </h3>
            </div>

            <!-- contact form -->
            <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12 wow fadeInDown animated" data-wow-duration="500ms"
                data-wow-delay="300ms">
                <div class="contact-form">
                    <form action="#" id="contact-form">
                        <div class="input-group name-email">
                            <div class="input-field">
                                <input type="text" name="name" id="name" placeholder="Name" class="form-control">
                            </div>
                            <div class="input-field">
                                <input type="email" name="email" id="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="input-group">
                            <textarea name="message" id="message" placeholder="Message" class="form-control"></textarea>
                        </div>
                        <div class="input-group">
                            <input type="submit" id="form-submit" class="pull-right" value="Send message">
                        </div>
                    </form>
                </div>
            </div>
            <!-- end contact form -->

        </div>
    </div>

    <!-- Google map -->
    <div id="map_canvas" class="wow bounceInDown animated" data-wow-duration="500ms"></div>
    <!-- End Google map -->

</section>

<!--
End Contact Us
==================================== -->



<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>
{% endblock content %}

{% block js %}

<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL7xWhk3rvQsjQCSKV3GeULm_Dq2tTOHU&sensor=false"></script>

{{ block.super }}

<!-- Contact form validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<!-- jquery easing -->
<script src="{% static " theme/js/jquery.easing.min.js" %}"></script>
<!-- jquery easing -->
<script src="{% static " theme/js/wow.min.js" %}"></script>
<script src="{% static " js/masonry.pkgd.min.js" %}"></script>

<script>
    var wow = new WOW({
        boxClass: 'wow',      // animated element css class (default is wow)
        animateClass: 'animated', // animation css class (default is animated)
        offset: 120,          // distance to the element when triggering the animation (default is 0)
        mobile: false,       // trigger animations on mobile devices (default is true)
        live: true        // act on asynchronously loaded content (default is true)
    }
    );
    wow.init();
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.grid').masonry({
            // options
            itemSelector: '.league-neighborhood',
            //columnWidth: 200
        });

    });

    $(function () {
        /* ========================================================================= */
        /*  Contact Form
        /* ========================================================================= */

        $('#contact-form').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2
                },
                email: {
                    required: true,
                    email: true
                },
                message: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "come on, you have a name don't you?",
                    minlength: "your name must consist of at least 2 characters"
                },
                email: {
                    required: "no email, no message"
                },
                message: {
                    required: "um...yea, you have to write something to send this form.",
                    minlength: "thats all? really?"
                }
            },
            submitHandler: function (form) {
                var data = $(form).serialize();
                console.log(data);
                $(form).ajaxSubmit({
                    type: "POST",
                    data: data,
                    url: "/send-email/",
                    success: function () {
                        $('#contact-form :input').attr('disabled', 'disabled');
                        $('#contact-form').fadeTo("slow", 0.15, function () {
                            $(this).find(':input').attr('disabled', 'disabled');
                            $(this).find('label').css('cursor', 'default');
                            $('#success').fadeIn();
                        });
                    },
                    error: function () {
                        $('#contact-form').fadeTo("slow", 0.15, function () {
                            $('#error').fadeIn();
                        });
                    }
                });
            }
        });
    });
</script>
{% endblock js %}