{% extends 'base.html' %}
{% load static %}

{% block navbar_itmes %}
<li><a href="/#schedules">Schedules</a></li>
<li><a href="/#registration">Registration</a></li>
<li><a href="/#tournaments">Tournaments</a></li>
<li><a href="/#team">About Us</a></li>
<li><a href="/#contact">Contact</a></li>
{% if user.is_authenticated %}
<li><a href="{% url 'player' %}">My Account</a></li>
{% endif %}
{% endblock navbar_itmes %}

{% block content %}

<!-- SLIDER SECTION -->
<section id="home">
    <div id="home-carousel" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: url('{% static " img/slider/slider-bg-1.jpg" %}')">
                <div class="carousel-caption">
                    <div class="animated bounceInRight">
                        <h2>NY COED SOCCER <br>WE PLAY ALL YEAR ROUND.</h2>
                        <p>We play all year round in various Indoor and Outdoor locations in New York City.</p>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url('{% static " img/slider/slider-bg-2.jpg" %}')">
                <div class="carousel-caption">
                    <div class="animated bounceInDown">
                        <h2>NY COED SOCCER <br>WE PLAY ALL YEAR ROUND.</h2>
                        <p>We play all year round in various Indoor and Outdoor locations in New York City.</p>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url('{% static " img/slider/slider-bg-3.jpg" %}')">
                <div class="carousel-caption">
                    <div class="animated bounceInUp">
                        <h2>NY COED SOCCER <br>WE PLAY ALL YEAR ROUND.</h2>
                        <p>We play all year round in various Indoor and Outdoor locations in New York City.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SCHEDULES SECTION (V5 CLEAN) -->
<section id="schedules" class="features" style="padding: 60px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="sec-title">
                    <h2>NYCS ACTIVE LEAGUES</h2>
                    <p style="margin-bottom: 40px;">Click on the desired league to check the standings and schedule</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in active_leagues %}
            <div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" style="margin-bottom: 50px;">
                <div style="text-align: center;">
                    <!-- LOCATION HEADER -->
                    <h3 style="font-weight: 700; font-size: 18px; margin-bottom: 15px; text-transform: uppercase;">
                        {{ item.location|safe }}
                    </h3>

                    <!-- IMAGE -->
                    <img src="{{ item.leagues.0.location.image.url }}" alt="Venue" class="img-responsive"
                        style="margin: 0 auto 15px auto; border-radius: 4px;">

                    <!-- LEAGUES LIST -->
                    <ul class="list-unstyled" style="padding: 0;">
                        {% for league in item.leagues %}
                        <li style="margin-bottom: 10px;">
                            <a href="{% url 'league_schedule' league.id %}"
                                style="color: #333; font-weight: 700; text-decoration: underline; font-size: 15px;">
                                {{ league.name }}
                            </a>
                            <div style="color: #666; font-size: 13px; margin-top: 2px;">{{ league.get_day_of_week }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- REGISTRATION SECTION (V5 CLEAN) -->
<section id="registration" class="works clearfix" style="padding: 60px 0; background-color: #f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="sec-title">
                    <h2>WHO DO YOU PLAY WITH?</h2>
                    <p style="margin-bottom: 40px;">Spring Leagues are now open for registration. Click on the link to
                        register your team.</p>
                </div>
            </div>
        </div>

        <div class="row text-center">
            {% for nb, leagues in open_registrations.items %}
            <div class="row mb40" style="margin-bottom: 50px;">
                <div class="col-md-8 col-md-offset-2"> <!-- Centering column -->
                    <h3
                        style="text-transform: uppercase; font-weight: 700; color: #333; font-size: 24px; margin-bottom: 20px;">
                        {{ nb|safe }}
                    </h3>

                    <div style="font-size: 15px; line-height: 1.8;">
                        {% for league in leagues %}
                        <div style="margin-bottom: 20px;">
                            <a href="{% url 'player_join_league' league.pk %}"
                                style="font-weight: 700; color: #000; text-decoration: none; font-size: 16px;">
                                {{ league.name|upper }}
                            </a>
                            <br>
                            <span style="color: #444;">{{ league.get_day_of_week }}S {{ league.game_time|default:""
                                }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- TOURNAMENTS SECTION -->
<section id="tournaments" class="service-item" style="padding: 60px 0;">
    <div class="container">
        <div class="row text-center">
            <div class="sec-title">
                <h2>TOURNAMENTS</h2>
            </div>
            <p>No Tournaments currently scheduled.</p>
        </div>
    </div>
</section>

<!-- ABOUT US / TEAM SECTION -->
<section id="team" class="team" style="padding: 60px 0; background-color: #f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
                <h2>About Us</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
                <p>NY Coed Soccer (NYCS)</p>
            </div>
            <div class="col-md-12 text-center">
                <p class="lead">Established in 2004, NY Coed Soccer is New York's Premier Coed Soccer League.</p>
                <p>We believe in Fair Play, Camaraderie and Safety.</p>
            </div>
        </div>
    </div>
</section>

<!-- CONTACT SECTION -->
<section id="contact" class="contact" style="padding: 60px 0;">
    <div class="container">
        <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="500ms">
            <h2>Contact</h2>
            <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
            <p>Get in touch</p>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% include 'contact_form.html' %}
            </div>
        </div>
    </div>
</section>

<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

<!-- VER V5 CHECK -->

{% endblock content %}

{% block js %}
{{ block.super }}
{% endblock js %}